@model List<Web2T.ModelViews.WishItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/breadcrumb/bg/background-11.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Wish List</h2>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Wishlist</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wishlist-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @if (Model != null && Model.Count() > 0)
                    {
                        <form action="javascript:void(0)">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Xóa</th>
                                            <th class="product-thumbnail">Ảnh đại diện</th>
                                            <th class="cart-product-name">Sản phẩm</th>
                                            <th class="product-price">Đơn giá</th>
                                            <th class="product-stock-status">Tồn kho</th>
                                            <th class="cart_btn">Thêm vào giỏ hàng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="product_remove">
                                                        <input type="button" value="X" class="removewishlist btn btn-primary" data-mahh="@item.product.ProductId" />
                                                    </td>
                                                    <td class="product-thumbnail">
                                                        <a href="javascript:void(0)">
                                                            <img src="~/images/products/@item.product.Thumb" alt="@item.product.Title">
                                                        </a>
                                                    </td>
                                                    <td class="product-name"><a href="javascript:void(0)">@item.product.ProductName</a></td>

                                                    @if (item.product.Discount != null && item.product.Discount > 0)
                                                    {
                                                        <td class="product-price"><span class="amount">@item.discountPrice.ToString("#,##0") VNĐ</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="product-price"><span class="amount">@item.product.Price.Value.ToString("#,##0") VNĐ</span></td>
                                                    }
                                                    <td class="product-stock-status"><span class="in-stock">@item.product.UnitsInStock</span></td>
                                                    <td class="cart_btn"><a href="javascript:void(0)">Thêm vào giỏ hàng</a></td>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
@section Scripts{
    <script>
        $(function () {
            function loadWishList() {
                $('#wishList').load("/WishList/Index");
            }
            $(".removewishlist").click(function () {
                var productid = $(this).attr("data-mahh");
                $.ajax({
                    url: "api/wishlist/remove",
                    type: "POST",
                    dataType: "JSON",
                    data: { productID: productid },
                    success: function (result) {
                        if (result.success) {
                            loadWishListt();//Reload lai gio hang
                            location.reload();
                        }
                    },
                    error: function (rs) {
                        alert("Remove Cart Error !")
                    }
                });
            });
        });
    </script>
}
