@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Web2T.Models.Location>

@{
    ViewData["Title"] = "Danh sách Tỉnh thành: Trang" + ViewBag.CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách Tỉnh thành</span>
        </nav>
    </div>
</div>
<div class="row m-b-30">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4 text-right">
        <a class="btn btn-primary" asp-controller="AdminLocations" asp-action="Create"> <i class="anticon anticon-plus-circle m-r-5"></i> <span>Thêm mới Tỉnh thành</span>  </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên tỉnh thành</th>
                    <th scope="col">Type</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Name With Type</th>
                    <th scope="col">Path With Type</th>
                    <th scope="col">Parent</th>
                    <th scope="col">Level</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.LocationId</th>
                            <td>@item.Name</td>
                            <td>@item.Type</td>
                            <td>@item.Slug</td>
                            <td>@item.NameWithType</td>
                            <td>@item.PathWithType</td>
                            <td>@item.ParentCode</td>
                            <td>@item.Levels</td>
                            <td>
                                <a class="btn btn-secondary m-r-5" asp-area="Admin" asp-controller="AdminLocations" asp-action="Details" asp-route-id="@item.LocationId">Chi tiết</a>
                                <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminLocations" asp-action="Edit" asp-route-id="@item.LocationId">Chỉnh sửa</a>
                                <a class="btn btn-danger m-r-5" asp-area="Admin" asp-controller="AdminLocations" asp-action="Delete" asp-route-id="@item.LocationId">Xóa</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div aria-label="Page nagivation example">
            <ul class="pagination">
                <pager list="@Model" asp-area="Admin" asp-controller="AdminLocations" asp-action="Index" />
            </ul>
        </div>
    </div>
</div>

